* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.background-image {
    background-image: url("image/111.jpg.jpeg");
    background-size: cover;
    height: 500px;
}

main {
    padding: 20px;
    text-align: center;
}

h2 {
    margin-bottom: 10px;
}

.paintings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

/* Здесь можно добавить дополнительные стили для магазина, например, карточки картин, кнопки покупки и т.д. */

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}